@inherits ComponentBase

@code {
    protected virtual RenderFragment Render
        => @<CascadingValue Value="this">
                <div id="@ContainerId"
                     class="@InternalContainerClass"
                     style="@InternalContainerStyle"
                     @ref="@MapReference">
                </div>
                @ChildContent
            </CascadingValue>;
}
