@inherits ComponentBase

@code {
    protected virtual RenderFragment Render
        => @<div id="@ContainerId"
                 class="@InternalContainerClass"
                 style="@InternalContainerStyle"
                 @ref="@MapReference">
            </div>;
}
